<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>REGISTERATION FORM FOR GATE</h1>

    <form action="/register", method="post">
        <label for="name_field">NAME : </label>
        <input type="text" id="name_field" name ="name">

        <br><br>

        <p>GENDER : </p>

        <input type="radio" for="male_button" name="gender" value="Male"> 
        <label for="male_button">MALE </label>
        <!--here the attribute name and value are for backend storage.-->
        <!-- the name attribute is the name of the variable in backend and the value attribute is the value to be stored in the variable at backend-->
        <!-- this is same for every thing-->

        <input type="radio" id="female_button" name="gender" value="female">
        <label for="male_button">FEMALE </label>

        <input type="radio" id="others_button" name="gender" value="others">
        <label for="others_button">OTHERS </label>

        <!-- here the name=gender should be same because we need to select only one option for gender-->
        <!-- we cannot enable all the buttons to be selected. the user should select any one only. thats why the name = gender is same-->
        <br><br>

        <label for="age_field">AGE: </label>
        <input type="number" id="age_field" name="age">

        <br><br>

        <label for="qualification_field">QUALIFICAION : </label>
        <input type="text" id="qualification_field" name="qualification">

        <br><br>

        <label for="stream_field">STREAM : </label>
        <!-- 'select' tag is used for dropdown box and for setting the choices 'option' tag is used-->
        <select id="stream_field" name="stream">  
            <option value="electrical"> ELECTRICAL </option>
            <option value="civil"> CIVIL </option>
            <option value="mechanical"> MECHANICAL </option>
            <option value="computer science"> COMPUTER SCIENCE </option>
            <option value="biotechnolgy"> BIOTECHNOLOGY </option>
        </select>

        <br><br>

        <!--'textarea' tag is used for bigger text box-->
        <label for="address_field">ADDRESS : </label>
        <textarea id="address_field" name="address"></textarea>

        <br><br>

        <input type="submit" value="GO">

    </form>
</body>
</html>